{% extends "blank_template.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
<link rel="stylesheet" href="{% static "photosite/photo.css" %}"/>
<div class="index_content">
	<div class="left">
			
	</div>
	<div class="slider">
	<form action="" method="post">{% csrf_token %}
		{% thumbnail photos.photo_link 1024x1024 upscale as thumb %}
		<div>
			<img src="{{ thumb.url }}" width="100%"><br><br>
		</div>	
		<div>
			<ul>
				<li>Имя*</li>
				<br>
				<li><input type="text"  maxlength="50" size="50%" required name="user_name"></input></li>
				<br>
				<li>Комментарий*</li>
				<br>
				<li><textarea cols="57" rows="10" maxlength="500" required name="text"></textarea></li>
				<br>
				<li><input type="submit" value="Отправить"></input></li>
			</ul>	
		</div>	
	</form>
	</div>
	<div class="right">
		{% if comments_list %}
			{% for comments in comments_list %}
			<ul>
				<li>{{comments.comment_date|date:"d M Y H:i"}}</li>
				<li>{{ comments.comment_user }}</li><br>
				<li>{{ comments.comment_text }}</li><br>
				<li>---------------</li>
			</ul>	
			{% endfor %}
		{% endif %}	
	</div>
</div>

{% endblock content %}